*{
  font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
}
.header{
    background: rgba(255, 144, 14, 0.1);
    
}
.nav, main{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.nav-items{
    display: flex;
    gap: 30px;
    
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
    font-weight: normal;
    
}
.nav-link:hover{
    color: black;
}
.banner-text{
    text-align: center;
    padding-top: 70px;
}
.banner-text p{
    color: gray;
    padding: 10px 0;
}
.btn{
    border: none;
    background-color: #FF900E;
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
    font-size: 1.5rem;
}
.btn:hover{
    cursor: pointer;
}
.banner-img img{
    width: 100%;
    padding: 50px 0;

}
.team-container{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.text-container p{
    color: gray;
    padding: 15px 0;
}


@media screen  and (max-width:576px){
    .nav-container, .nav-items{
        flex-direction: column;
        align-items: center;
    }
    .team-container{
        flex-direction: column;
        text-align: center;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }

}