*{
  font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
}
.header{
    background: rgba(255, 144, 14, 0.1);
    
}
.nav, main{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.nav-items{
    display: flex;
    gap: 30px;
    
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
    font-weight: normal;
    
}
.nav-link:hover{
    color: black;
}
.banner-text{
    text-align: center;
    padding-top: 70px;
}
.banner-text p{
    color: gray;
    padding: 10px 0;
}
.btn{
    border: none;
    background-color: #FF900E;
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
    font-size: 1.5rem;
}
.btn:hover{
    cursor: pointer;
}
.banner-img img{
    width: 100%;
    padding: 50px 0;

}
.team-container{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.text-container p{
    color: gray;
    padding: 15px 0;
}
.features-container{
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.features-text{
    padding: 0 10px;
}
.features-text h3{
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 15px;
    border-left: 4px solid #FF900E;
}
.features-text p{
    color: gray;
    padding: 10px 0;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    padding: 20px;
    row-gap: 20px;
}
.card h5{
    font-size: 1.5rem;
}
.card p{
    color: gray;
}
.bold-text{
    font-weight: bold;
    font-size: 2.5rem;
}
.btn-postion{
    padding: 20px;
    position: relative;
    top: -80px;
    left: -50px;
}
.card-text{
    margin: 70px 0;
}
.card-text h4{
    font-weight: bold;
    font-size: 2rem;
}
.card-text p{
    color: gray;
}
.main-card-container{
    display: flex;
    justify-content: space-between;
    
}
.project-card{
    border: 1px solid rgb(240, 139, 122);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
.sponsor-text{
    text-align: center;
    margin: 70px 0;
}
.sponsor-text h3{
    font-weight: bold;
    font-size: 2rem;
}
.sponsor-text p{
    color: gray;
    padding: 10px 0;
}
.sponspors-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.sponspors-img img{
    filter: grayscale(100%);
}
.copyright-container{
    text-align: center;
    background-color:rgba(255, 244, 231, 1);
    padding: 25px 0;
    color: gray;
    margin: 50px 0;
    border-radius: 5px;
}




@media screen  and (max-width:576px){
    .nav-container, .nav-items{
        flex-direction: column;
        align-items: center;
    }
    .team-container{
        flex-direction: column;
        text-align: center;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-container{
        flex-direction: column;

    }
    .features-img{
        width: 100%;
    }
    .features-img img{
        width: 100%;
    }
    .btn-postion{
        width: 100%;
    }
    .main-card-container{
        flex-direction: column;
        gap: 20px;
        margin: 10px 100px;
    }
    .sponspors-img{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 50px;
    }

}